 <img src="imagen.jpg" alt="Girl in a jacket" style="width:10px;height:10px;"> <br/>

  <img src="imagen.jpg" alt="Girl in a jacket" width="50" height="50">
  <br/>
  <br/>


  <p><img src="imagen.jpg" alt="Smiley face" style="float:right;width:42px;height:42px;">
The image will float to the right of the text.</p>

<p><img src="imagen.jpg" alt="Smiley face" style="float:left;width:42px;height:42px;">
The image will float to the left of the text.</p>
