<select name="cars" size="3">
 <option value="volvo">Volvo</option>
 <option value="saab">Saab</option>
 <option value="fiat" selected>Fiat</option>
 <option value="audi">Audi</option>
</select>
<br/>

<select name="cars" >
 <option value="volvo">Volvo</option>
 <option value="saab">Saab</option>
 <option value="fiat" selected>Fiat</option>
 <option value="audi">Audi</option>
</select>

<!--permite seleccionar uno o mas valores-->
<br/>
<select name="cars" size="4" multiple>
 <option value="volvo">Volvo</option>
 <option value="saab">Saab</option>
 <option value="fiat">Fiat</option>
 <option value="audi">Audi</option>
</select>
<!--Define un area de texto gramde-->
<br/>
<br/>

<textarea name="message" rows="10" cols="30">
The cat was playing in the garden.
</textarea>

<br/>
<br/>

<form>
 <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
 <input type="checkbox" name="vehicle2" value="Car"> I have a car
</form>
